In [13]:
import pandas as pd

In [14]:
btc2021 = pd.read_csv('./data/bitcoin_2021.csv')

In [15]:
btc2021

,Unnamed: 0,timestamp,Asset_ID,Asset_Name,Weight,Count,Open,High,Low,Close,Volume,VWAP,Target
0,18935914,1609459260,1,NaN,NaN,4039.0,28985.511250,29086.90,28960.00,29032.387500,163.787036,29017.664870,0.000396
1,18935928,1609459320,1,NaN,NaN,1969.0,29031.175000,29079.56,28951.50,29002.956734,98.754670,29014.703526,-0.000069
2,18935942,1609459380,1,NaN,NaN,1689.0,29002.977509,29069.39,28967.80,29005.580000,55.202131,29003.078663,-0.000137
3,18935956,1609459440,1,NaN,NaN,1146.0,29004.293750,29057.73,28971.80,29000.490000,56.575903,29006.256629,-0.000682
4,18935970,1609459500,1,NaN,NaN,2088.0,28994.918934,29031.71,28929.30,28962.285818,70.319136,28972.005783,-0.000446
...,...,...,...,...,...,...,...,...,...,...,...,...,...
512589,5464795,1637798100,1,NaN,NaN,613.0,57124.380000,57169.28,57124.38,57155.370000,15.126610,133345.450000,0.005561
512590,5464796,1637798160,1,NaN,NaN,704.0,57155.370000,57196.49,57141.54,57190.880000,13.973630,133401.656667,0.005966
512591,5464797,1637798220,1,NaN,NaN,639.0,57190.870000,57191.04,57150.93,57174.630000,12.491470,133400.180000,0.005626
512592,5464798,1637798280,1,NaN,NaN,659.0,57174.630000,57178.42,57137.56,57158.170000,27.416840,133368.703333,0.005403
512593,5464799,1637798340,1,NaN,NaN,753.0,57158.170000,57193.14,57130.99,57138.290000,19.926520,133370.226667,0.004228

In [16]:
btc2021.head(20)

,Unnamed: 0,timestamp,Asset_ID,Asset_Name,Weight,Count,Open,High,Low,Close,Volume,VWAP,Target
0,18935914,1609459260,1,NaN,NaN,4039.0,28985.511250,29086.90,28960.000000,29032.387500,163.787036,29017.664870,0.000396
1,18935928,1609459320,1,NaN,NaN,1969.0,29031.175000,29079.56,28951.500000,29002.956734,98.754670,29014.703526,-0.000069
2,18935942,1609459380,1,NaN,NaN,1689.0,29002.977509,29069.39,28967.800000,29005.580000,55.202131,29003.078663,-0.000137
3,18935956,1609459440,1,NaN,NaN,1146.0,29004.293750,29057.73,28971.800000,29000.490000,56.575903,29006.256629,-0.000682
4,18935970,1609459500,1,NaN,NaN,2088.0,28994.918934,29031.71,28929.300000,28962.285818,70.319136,28972.005783,-0.000446
5,18935984,1609459560,1,NaN,NaN,1571.0,28961.573318,29025.68,28933.640000,28965.330000,59.273053,28970.106652,-0.001051
6,18935998,1609459620,1,NaN,NaN,1356.0,28964.780000,29014.83,28927.850000,28959.346250,43.918857,28961.550862,-0.000811
7,18936012,1609459680,1,NaN,NaN,2076.0,28959.118571,28996.86,28889.240000,28922.798571,93.411462,28927.678550,-0.000337
8,18936026,1609459740,1,NaN,NaN,2993.0,28921.440545,28987.85,28845.910000,28889.742857,145.542253,28904.184709,0.000636
9,18936040,1609459800,1,NaN,NaN,1646.0,28886.257500,28945.01,28848.060000,28876.311250,75.171535,28885.235827,0.000544
10,18936054,1609459860,1,NaN,NaN,4341.0,28869.587500,28936.19,28776.000000,28838.103750,237.761278,28834.129638,0.000402
11,18936068,1609459920,1,NaN,NaN,2523.0,28845.087020,28931.49,28806.000000,28858.953750,120.719587,28855.857162,0.002243
12,18936082,1609459980,1,NaN,NaN,5490.0,28852.786250,28902.46,28702.200000,28755.078750,263.916059,28794.260244,0.001071
13,18936096,1609460040,1,NaN,NaN,4920.0,28749.182500,28839.99,28687.100000,28778.528750,339.430952,28745.181223,0.001448
14,18936110,1609460100,1,NaN,NaN,2184.0,28773.918750,28843.06,28720.893639,28786.383843,107.028965,28769.605995,0.000788
15,18936124,1609460160,1,NaN,NaN,2396.0,28789.835986,28893.34,28757.407891,28837.417500,118.647083,28815.223630,0.002049
16,18936138,1609460220,1,NaN,NaN,1741.0,28834.455000,28893.34,28772.300000,28827.286250,73.886917,28822.093352,0.002264
17,18936152,1609460280,1,NaN,NaN,1506.0,28828.077500,28907.96,28789.100000,28844.981250,64.631821,28838.673203,0.002259
18,18936166,1609460340,1,NaN,NaN,2029.0,28848.169140,28927.41,28819.300000,28857.371250,96.636416,28860.861847,0.003288
19,18936180,1609460400,1,NaN,NaN,2454.0,28848.803750,28901.78,28751.580000,28784.551250,70.023461,28811.267664,0.002360

In [17]:
btc2021.tail(20)

,Unnamed: 0,timestamp,Asset_ID,Asset_Name,Weight,Count,Open,High,Low,Close,Volume,VWAP,Target
512574,5464780,1637797200,1,NaN,NaN,934.0,57179.96,57233.99,57147.50,57191.28,21.40039,133445.250000,-0.000991
512575,5464781,1637797260,1,NaN,NaN,831.0,57191.28,57209.46,57121.23,57140.46,32.89288,133377.510000,-0.001403
512576,5464782,1637797320,1,NaN,NaN,614.0,57140.45,57172.87,57128.61,57152.45,12.14609,133352.296667,-0.001135
512577,5464783,1637797380,1,NaN,NaN,637.0,57152.45,57163.97,57133.21,57149.57,9.59522,133347.036667,-0.000500
512578,5464784,1637797440,1,NaN,NaN,679.0,57149.57,57187.13,57125.08,57147.12,22.36347,133361.250000,0.000019
512579,5464785,1637797500,1,NaN,NaN,722.0,57147.11,57189.41,57125.09,57168.23,26.74940,133370.576667,-0.000271
512580,5464786,1637797560,1,NaN,NaN,595.0,57168.23,57168.23,57122.57,57157.56,13.52409,133343.320000,0.002030
512581,5464787,1637797620,1,NaN,NaN,606.0,57157.55,57191.43,57133.30,57161.43,11.46649,133378.540000,0.002022
512582,5464788,1637797680,1,NaN,NaN,727.0,57161.42,57222.93,57157.06,57222.92,21.23052,133454.296667,0.002272
512583,5464789,1637797740,1,NaN,NaN,804.0,57222.92,57229.67,57155.01,57155.62,16.49133,133436.553333,0.002826
512584,5464790,1637797800,1,NaN,NaN,627.0,57155.62,57184.83,57155.62,57158.48,11.95607,133393.276667,0.002079
512585,5464791,1637797860,1,NaN,NaN,685.0,57158.47,57158.48,57122.00,57127.93,16.20272,133323.123333,0.002082
512586,5464792,1637797920,1,NaN,NaN,715.0,57127.93,57158.49,57100.62,57109.93,21.32530,133295.753333,0.003510
512587,5464793,1637797980,1,NaN,NaN,653.0,57109.93,57128.80,57093.73,57104.00,14.54730,133257.196667,0.004179
512588,5464794,1637798040,1,NaN,NaN,652.0,57104.00,57136.09,57092.25,57124.39,14.68404,133269.803333,0.004764
512589,5464795,1637798100,1,NaN,NaN,613.0,57124.38,57169.28,57124.38,57155.37,15.12661,133345.450000,0.005561
512590,5464796,1637798160,1,NaN,NaN,704.0,57155.37,57196.49,57141.54,57190.88,13.97363,133401.656667,0.005966
512591,5464797,1637798220,1,NaN,NaN,639.0,57190.87,57191.04,57150.93,57174.63,12.49147,133400.180000,0.005626
512592,5464798,1637798280,1,NaN,NaN,659.0,57174.63,57178.42,57137.56,57158.17,27.41684,133368.703333,0.005403
512593,5464799,1637798340,1,NaN,NaN,753.0,57158.17,57193.14,57130.99,57138.29,19.92652,133370.226667,0.004228

In [18]:
btc2021.columns

Index(['Unnamed: 0', 'timestamp', 'Asset_ID', 'Asset_Name', 'Weight', 'Count',
       'Open', 'High', 'Low', 'Close', 'Volume', 'VWAP', 'Target'],
      dtype='object')

In [23]:
btc2021['datetime'] = pd.to_datetime(btc2021['timestamp'], unit='s')
btc2021.set_index('datetime', inplace=True)
btc2021 = btc2021.sort_values('datetime')

In [24]:
btc2021

,Unnamed: 0,timestamp,Asset_ID,Asset_Name,Weight,Count,Open,High,Low,Close,Volume,VWAP,Target
datetime,,,,,,,,,,,,,
2021-01-01 00:01:00,18935914,1609459260,1,NaN,NaN,4039.0,28985.511250,29086.90,28960.00,29032.387500,163.787036,29017.664870,3.964660e-04
2021-01-01 00:02:00,18935928,1609459320,1,NaN,NaN,1969.0,29031.175000,29079.56,28951.50,29002.956734,98.754670,29014.703526,-6.925496e-05
2021-01-01 00:03:00,18935942,1609459380,1,NaN,NaN,1689.0,29002.977509,29069.39,28967.80,29005.580000,55.202131,29003.078663,-1.370093e-04
2021-01-01 00:04:00,18935956,1609459440,1,NaN,NaN,1146.0,29004.293750,29057.73,28971.80,29000.490000,56.575903,29006.256629,-6.821282e-04
2021-01-01 00:05:00,18935970,1609459500,1,NaN,NaN,2088.0,28994.918934,29031.71,28929.30,28962.285818,70.319136,28972.005783,-4.455942e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-22 23:39:00,4453899,1640216340,1,NaN,NaN,393.0,48685.090000,48688.45,48657.61,48666.750000,18.237460,113568.310000,-9.540979e-18
2021-12-22 23:40:00,4453900,1640216400,1,NaN,NaN,296.0,48666.740000,48667.14,48652.38,48660.470000,5.687420,113539.676667,-6.613633e-18
2021-12-22 23:41:00,4453901,1640216460,1,NaN,NaN,301.0,48660.470000,48663.84,48658.13,48659.310000,7.384790,113541.740000,-7.372575e-18
2021-12-22 23:42:00,4453902,1640216520,1,NaN,NaN,582.0,48659.310000,48659.31,48633.78,48633.800000,14.448610,113504.356667,1.321371e-19
2021-12-22 23:43:00,4453903,1640216580,1,NaN,NaN,978.0,48633.800000,48635.15,48586.68,48594.200000,25.046750,113419.896667,5.529431e-18

In [28]:
btc2021.Weight.isna().sum()

512594

In [31]:
def get_data(coin='bitcoin', year=2017):
    df = pd.read_csv(f'./data/{coin}_{year}.csv')
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit = 's')
    df.set_index('timestamp', inplace = True)
    df = df[['Count','Open','High','Low','Close','Volume','VWAP','Target']]
    df = df.sort_values('timestamp')
    return df

In [34]:
eth2021 = get_data('ether', 2021)
eth2021

,Count,Open,High,Low,Close,Volume,VWAP,Target
timestamp,,,,,,,,
2021-01-01 00:01:00,1538.0,737.602857,740.69,736.760000,739.341429,2031.161912,738.614225,-0.001312
2021-01-01 00:02:00,643.0,739.121429,740.33,737.156623,738.344286,690.288835,738.621065,-0.001679
2021-01-01 00:03:00,538.0,738.130694,739.90,737.280000,737.970515,778.729412,738.322659,-0.001537
2021-01-01 00:04:00,610.0,737.892857,739.28,736.290000,737.477143,703.652419,737.768842,-0.001755
2021-01-01 00:05:00,1115.0,737.528936,738.53,735.300000,736.182857,1135.049781,736.564849,-0.001540
...,...,...,...,...,...,...,...,...
2021-11-26 23:39:00,783.0,4073.140000,4073.14,4057.090000,4059.690000,415.563800,9483.460000,-0.000330
2021-11-26 23:40:00,430.0,4059.680000,4065.58,4057.110000,4057.410000,210.088300,9475.160000,-0.000195
2021-11-26 23:41:00,799.0,4057.110000,4057.41,4046.020000,4048.300000,254.188400,9452.863333,0.000766
2021-11-26 23:42:00,940.0,4048.310000,4054.84,4033.440000,4033.450000,402.043100,9432.763333,0.000395
2021-11-26 23:43:00,943.0,4033.450000,4044.11,4031.380000,4035.990000,346.664800,9420.820000,0.000190

In [35]:
eth2020 = get_data('ether', 2020)
eth2020

,Count,Open,High,Low,Close,Volume,VWAP,Target
timestamp,,,,,,,,
2020-01-01 00:01:00,139.0,128.893333,129.28,128.40,128.896667,184.310791,128.904684,-0.000758
2020-01-01 00:02:00,148.0,128.954000,129.28,128.35,128.938000,245.992753,128.938696,0.000200
2020-01-01 00:03:00,121.0,128.861667,129.28,128.35,128.876667,108.534252,128.854418,0.000550
2020-01-01 00:04:00,230.0,128.782857,129.19,128.26,128.694286,310.682870,128.721688,0.000767
2020-01-01 00:05:00,226.0,128.725000,128.99,128.20,128.650000,665.135279,128.692251,0.000896
...,...,...,...,...,...,...,...,...
2020-12-31 23:55:00,411.0,737.480000,738.99,736.69,737.658571,293.342138,737.742821,0.002416
2020-12-31 23:56:00,419.0,737.622857,738.92,736.21,737.154286,299.105677,737.464250,0.001250
2020-12-31 23:57:00,413.0,737.281429,738.86,736.26,737.551429,596.075047,737.454693,0.001917
2020-12-31 23:58:00,608.0,737.591809,738.67,735.83,736.644286,764.389981,737.200077,0.001285
2020-12-31 23:59:00,774.0,736.469077,738.17,735.61,736.714286,732.849179,736.697299,-0.000694

In [39]:
def ethereum:
    for i in range(2017, 2022):
        eth = get_data('ether', i)
eth_comp = pd.concat([eth2020, eth2021])

,Count,Open,High,Low,Close,Volume,VWAP,Target
timestamp,,,,,,,,
2020-01-01 00:01:00,139.0,128.893333,129.28,128.40,128.896667,184.310791,128.904684,-0.000758
2020-01-01 00:02:00,148.0,128.954000,129.28,128.35,128.938000,245.992753,128.938696,0.000200
2020-01-01 00:03:00,121.0,128.861667,129.28,128.35,128.876667,108.534252,128.854418,0.000550
2020-01-01 00:04:00,230.0,128.782857,129.19,128.26,128.694286,310.682870,128.721688,0.000767
2020-01-01 00:05:00,226.0,128.725000,128.99,128.20,128.650000,665.135279,128.692251,0.000896
...,...,...,...,...,...,...,...,...
2021-11-26 23:39:00,783.0,4073.140000,4073.14,4057.09,4059.690000,415.563800,9483.460000,-0.000330
2021-11-26 23:40:00,430.0,4059.680000,4065.58,4057.11,4057.410000,210.088300,9475.160000,-0.000195
2021-11-26 23:41:00,799.0,4057.110000,4057.41,4046.02,4048.300000,254.188400,9452.863333,0.000766
2021-11-26 23:42:00,940.0,4048.310000,4054.84,4033.44,4033.450000,402.043100,9432.763333,0.000395
2021-11-26 23:43:00,943.0,4033.450000,4044.11,4031.38,4035.990000,346.664800,9420.820000,0.000190